@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  font-family: "kanit", sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}

h1, h2 {
  font-family: "kanit", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #10b981, #3b82f6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #059669, #2563eb);
}

